<launch>
  <!-- Top-level obstacle-zone test: motion bridge + nav stack + obstacle segment task. -->
  <arg name="start_camera" default="true"/>
  <arg name="camera_enable_color" default="false"/>
  <arg name="camera_align_depth" default="false"/>
  <arg name="camera_color_fps" default="5"/>
  <arg name="camera_depth_fps" default="15"/>
  <arg name="run_obstacle_task" default="true"/>
  <arg name="waypoint_order" default="obs_start,obs_end"/>
  <arg name="nav_timeout" default="60.0"/>
  <arg name="task_budget_enable" default="false"/>
  <arg name="task_budget_total" default="300.0"/>
  <arg name="task_budget_reserve" default="5.0"/>
  <arg name="min_waypoint_remaining" default="10.0"/>
  <arg name="require_scan" default="true"/>
  <arg name="scan_wait_timeout" default="8.0"/>
  <arg name="require_map" default="true"/>
  <arg name="map_wait_timeout" default="30.0"/>
  <arg name="require_tf" default="true"/>
  <arg name="tf_wait_timeout" default="30.0"/>
  <arg name="require_move_base_status" default="true"/>
  <arg name="move_base_status_wait_timeout" default="30.0"/>
  <arg name="move_base_wait_timeout" default="90.0"/>
  <arg name="move_base_retry_interval" default="2.0"/>
  <arg name="prepare_motion_host" default="true"/>
  <arg name="motion_cmd_wait_timeout" default="5.0"/>
  <arg name="motion_prepare_command" default="prepare_navigation"/>
  <arg name="motion_prepare_wait" default="1.0"/>
  <arg name="standing_basic_states" default="6,9"/>
  <arg name="lie_basic_states" default="1"/>
  <arg name="spot_basic_states" default="6,9"/>
  <arg name="move_basic_states" default="6,9"/>
  <arg name="mode_switch_timeout" default="3.0"/>
  <arg name="mode_switch_retry_count" default="3"/>
  <arg name="camera_tf_yaml" default="$(find allmovebase)/config/camera2base_tf.yaml"/>
  <arg name="navigation_map_yaml" default="$(find allmovebase)/map/map.yaml"/>
  <arg name="amcl_map_yaml" default="$(find allmovebase)/map/map_amcl.yaml"/>
  <arg name="start_ground_filter_experimental" default="false"/>
  <arg name="navigation_scan_topic" default="/scan"/>
  <arg name="costmap_inflation_radius" default="0.35"/>
  <arg name="costmap_cost_scaling_factor" default="8.0"/>

  <include file="$(find message_transformer)/launch/message_transformer.launch">
    <arg name="standing_basic_states" value="$(arg standing_basic_states)"/>
    <arg name="lie_basic_states" value="$(arg lie_basic_states)"/>
    <arg name="spot_basic_states" value="$(arg spot_basic_states)"/>
    <arg name="move_basic_states" value="$(arg move_basic_states)"/>
    <arg name="mode_switch_timeout" value="$(arg mode_switch_timeout)"/>
    <arg name="mode_switch_retry_count" value="$(arg mode_switch_retry_count)"/>
  </include>
  <include file="$(find allmovebase)/launch/stack_nav_base.launch">
    <arg name="start_camera" value="$(arg start_camera)"/>
    <arg name="camera_align_depth" value="$(arg camera_align_depth)"/>
    <arg name="camera_enable_color" value="$(arg camera_enable_color)"/>
    <arg name="camera_color_fps" value="$(arg camera_color_fps)"/>
    <arg name="camera_depth_fps" value="$(arg camera_depth_fps)"/>
    <arg name="camera_tf_yaml" value="$(arg camera_tf_yaml)"/>
    <arg name="navigation_map_yaml" value="$(arg navigation_map_yaml)"/>
    <arg name="amcl_map_yaml" value="$(arg amcl_map_yaml)"/>
    <arg name="start_ground_filter_experimental" value="$(arg start_ground_filter_experimental)"/>
    <arg name="navigation_scan_topic" value="$(arg navigation_scan_topic)"/>
    <arg name="costmap_inflation_radius" value="$(arg costmap_inflation_radius)"/>
    <arg name="costmap_cost_scaling_factor" value="$(arg costmap_cost_scaling_factor)"/>
  </include>

  <group if="$(arg run_obstacle_task)">
    <include file="$(find allmovebase)/launch/node_obstacle_zone_task.launch">
      <arg name="waypoint_order" value="$(arg waypoint_order)"/>
      <arg name="nav_timeout" value="$(arg nav_timeout)"/>
      <arg name="scan_topic" value="$(arg navigation_scan_topic)"/>
      <arg name="task_budget_enable" value="$(arg task_budget_enable)"/>
      <arg name="task_budget_total" value="$(arg task_budget_total)"/>
      <arg name="task_budget_reserve" value="$(arg task_budget_reserve)"/>
      <arg name="min_waypoint_remaining" value="$(arg min_waypoint_remaining)"/>
      <arg name="require_scan" value="$(arg require_scan)"/>
      <arg name="scan_wait_timeout" value="$(arg scan_wait_timeout)"/>
      <arg name="require_map" value="$(arg require_map)"/>
      <arg name="map_wait_timeout" value="$(arg map_wait_timeout)"/>
      <arg name="require_tf" value="$(arg require_tf)"/>
      <arg name="tf_wait_timeout" value="$(arg tf_wait_timeout)"/>
      <arg name="require_move_base_status" value="$(arg require_move_base_status)"/>
      <arg name="move_base_status_wait_timeout" value="$(arg move_base_status_wait_timeout)"/>
      <arg name="move_base_wait_timeout" value="$(arg move_base_wait_timeout)"/>
      <arg name="move_base_retry_interval" value="$(arg move_base_retry_interval)"/>
      <arg name="prepare_motion_host" value="$(arg prepare_motion_host)"/>
      <arg name="motion_cmd_wait_timeout" value="$(arg motion_cmd_wait_timeout)"/>
      <arg name="motion_prepare_command" value="$(arg motion_prepare_command)"/>
      <arg name="motion_prepare_wait" value="$(arg motion_prepare_wait)"/>
    </include>
  </group>
</launch>
